:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #242424;
  --grey-100: hsl(30 18% 95%);
  --grey-200: hsl(30 16% 86%);
  --grey-300: hsl(30 14% 76%);
  --grey-400: hsl(30 12% 67%);
  --grey-500: hsl(30 10% 58%);
  --grey-600: hsl(30 8% 48%);
  --grey-700: hsl(30 6% 39%);
  --grey-800: hsl(30 4% 29%);
  --grey-900: hsl(30 2% 20%);
  color: var(--grey-200);
}
